

 <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div *ngFor="let number of [0,1,2,3,4];let i = index">
          <div class="card mb-3" style="">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="img">
                  <img src="/assets/hum/hum3.png"  title="title" width="80px">
                  <div class="img-price">
                      15.00$
                  </div>
                </div>
            
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{i+1}} - Lorem ipsum dolor sit.</h5>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        <div class="col-md-6 col-sm-push-3 banner ">
            <div class="shap"></div>
            <h3 class="text-center title" style="">Delicious Hamburger</h3>
        </div>
        <div class="col-md-3">
          <div *ngFor="let number of [0,1,2,3,4];let i = index">
            <div class="card mb-3" style="">
              <div class="row g-0">
                <div class="col-md-4">
                  <div class="img">
                    <img src="/assets/hum/hum1.png"  title="title" width="80px">
                    <div class="img-price">
                        17.00$
                    </div>
                  </div>
              
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{i+6}} - Lorem ipsum dolor sit.</h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>



