


        <div class="about">
            <div class="container">
<div class="row content">
    <div class="col-md-4 part1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta fugit atque vel sunt deleniti quo hic in tenetur nesciunt
         iusto, cum odio numquam vero culpa, accusantium omnis doloribus incidunt voluptatum?</div>
    <div class="col-md-8 part2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, ipsa sed, vero ad amet voluptatum natus eum error inventore quibusdam minus tenetur rem, odit quos optio laborum exercitationem sit dicta!</div>
</div>
            </div>
        </div>
    
  
