<div class="header container">
  <!-- start navbar-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/pizza']" [routerLinkActive]="['active']" >FastFood</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pizza']" [routerLinkActive]="['active']">Pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tacos']" [routerLinkActive]="['active']">Tacos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/hamburger']" [routerLinkActive]="['active']">Hamburger</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">
              <i class="fa fa-location"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar-->
</div>