/*@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';*/

.banner {
    min-height: 100vh;
    position: relative;

}
.card{
    padding-top: 8px;
    max-width: 540px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.card:hover{
    box-shadow: 4px 7px 5px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 4px 7px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 7px 5px 1px rgba(0,0,0,0.3);
}
.shap {
    /*   background-image: rgba(0, 0, 0, 0.8); */
    background-image: url("/assets/pizza/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: circle(40.9% at 51% 49%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
   padding-bottom: 20px;
}
.img{
    position: relative;
    top: 0;
    right: 0;
   
}
.title{
   text-shadow:  5px 5px 15px 5px #000000;
   color: #f9aa07;
}
.img-price{
      border: 1px solid #63402d; 
      border-radius: 5px 20px 5px;
     -webkit-border-radius: 5px 20px 5px;
      width: 45px;
      background-color: #f9aa07;color: #fff;
      text-align: center;
     position: absolute;
     top: 0;
     right: 0;

}

/** reponsive */

@media (max-width: 576px) { 
   
    .banner {
       display: none;
    }
    
 }

 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .banner {
        display: none;
     }
     
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .banner {
       display: block;
     }
     .title{
        text-align: center !important;
     }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .title{
        text-align: center !important;
     }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }