

 <div class="container-fluid">
    <div class="row ">
      <div class="col-xs-12 col-sm-12 order-md-1 col-md-6 col-lg-3" id="partOne">
        <div *ngFor="let number of [0,1,2,3,4];let i = index">
          <div class="card mb-3" style="" (click)="openNewDialog()" [@flipInX]="flipInX">
            <div class="row g-0">
              <div class="col-2">
                <div class="img">
                  <img src="/assets/pizza/bg.png"  title="title" width="80px">
                  <div class="img-price">
                      10.00$
                  </div>
                </div>
            
              </div>
              <div class="col-10">
                <div class="card-body">
                  <h5 class="card-title">{{i+1}} - Lorem ipsum dolor sit.</h5>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        <div class="col-12 order-md-2 col-md-6 col-lg-6 banner " id="partTwo"  [@zoomIn]="zoomIn">
            <div class="shap"></div>
            <h3 class="text-center title" style="">Delicious Pizza</h3>
        </div>
        <div class="col-xs-12 col-sm-12 order-md-3 col-md-6 col-lg-3" id="partThree">
          <div *ngFor="let number of [0,1,2,3,4];let i = index">
            <div class="card mb-3" style="" (click)="openNewDialog()" [@flipInX]="flipInX">
              <div class="row g-0">
                <div class="col-2">
                  <div class="img">
                    <img src="/assets/pizza/bg.png"  title="title" width="80px">
                    <div class="img-price">
                        10.00$
                    </div>
                  </div>
              
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">{{i+6}} - Lorem ipsum dolor sit.</h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>



